@model IEnumerable<TallerFedexMotos.Models.MotoEnVenta>

@{
    ViewData["Title"] = "Index";
}

<h1>Venta</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.moto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.moto.imagenMoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.moto.modelo.nombreModelo)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.moto.imagenMoto))
                {
                    <img src="~/Imagenes/fotoMotos/@item.moto.imagenMoto" class="rounded-circle" style="max-width:180px" asp-append-version="true" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_paginador" for="@ViewData["paginador"]" />
