@model IEnumerable<TallerFedexMotos.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Nuevo cliente</a>
</p>

<form asp-action="Index" method="get">
    <p>
        Filtros:<br />
        Nombre: <input type="text" name="busquedaNombre" />
        Apellido: <input type="text" name="busquedaApellido" />
        Moto: <select name="motoId" asp-items="ViewBag.motoId">
            <option value="">Todas</option>
        </select>
        <input type="submit" value="Filtrar" />
    </p>
</form>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.moto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.moto.modelo.nombreModelo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_paginador" for="@ViewData["paginador"]" />


