@model TallerFedexMotos.ModelsView.paginador
@*Total de registros encontrados: @Model.cantReg*@

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        @if (Model.pagActual != 1)
        {
            <li class="page-item ">
                <a class="page-link text-danger" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="1" tabindex="-1">Inicio</a>
            </li>
            <li class="page-item">
                <a class="page-link text-danger" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="@(Model.pagActual-1)" tabindex="-1">Anterior</a>
            </li>
            <li class="page-item"><a class="page-link text-danger" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="@(Model.pagActual-1)">@(Model.pagActual-1)</a></li>
        }

        <li class="page-item active">
            <a class="page-link text-danger">@(Model.pagActual)<span class="sr-only">(current)</span></a>
        </li>

        @if (Model.pagActual < Model.totalPag)
        {
            <li class="page-item"><a class="page-link text-danger" asp-route-pagina="@(Model.pagActual+1)">@(Model.pagActual+1)</a></li>
            <li class="page-item">
                <a class="page-link text-danger" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="@(Model.pagActual+1)">Siguiente</a>
            </li>
            <li class="page-item">
                <a class="page-link text-danger" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="@(Model.totalPag)">Ultima</a>
            </li>
        }

    </ul>
</nav>